.about-me-image{
    width: 280px;
    height:280px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 8px solid #fff;
}
@media screen and (min-width: 768px) {
    .details{
        text-align: left;
     
    }
}
