#basic-navbar-nav a{
    text-decoration: none;
    color:#000;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0 2px;

}
.navbar-nav .active{
    color: var(--main) !important;
   
    
}
.bg-main{
    background-color:var(--main);
}
.bg-main:hover{
    background-color:var(--main-hover);
}